* {
    background-color: black;
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 16px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    text-decoration: underline;
    display: inline;
    margin: 24px;
    padding: 16px;
}

.content {
    margin: 24px;
    height: 600px;
}

button {
    width: 300px;
    height: 250px;
    border: solid white 2px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
}

button:active {
    background-color: #fff;
    color: #000;
}

.small {
    width: 50px;
    height: 25px;
    background-color: #fff;
    color: #000;
    font-size: 12px;
}

.small:hover {
    background-color: #000;
    color: #fff;
}

#score {
    font-size: 32px;
}

.output {
    font-size: 24px;
}